.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Style pour le conteneur principal */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Style pour la barre de navigation */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    border-radius: 8px;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.navbar li a:hover {
    background-color: #111;
}

.navbar .active a {
    background-color: #4CAF50; /* Couleur de fond pour l'élément actif */
}

/* Style pour les en-têtes */
h1, h2 {
    color: #4CAF50;
}

/* Style pour les liens */
a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Style pour les listes */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

/* Style pour les sections */
section {
    margin-bottom: 20px;
}

/* Style pour les séparateurs */
hr {
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 20px 0;
}
